<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
	<title>
		This is our main app page
	</title>
</head>
<body>
	
		this will be the design for rest of the pages
		<hr>
		<!-- displaying username and roles -->
		<p>
			User: <span sec:authentication="principal.username"></span>
			<br><br>
			Role: <span sec:authentication="principal.authorities"></span>
			<br>
			
		</p>
		<div sec:authorize="hasRole('ADMIN')">
		<!-- Adding a link only accesible to admins -->
		<p>
			<a th:href="@{/leaders}">Leadership meeting</a>
			(Only for admins use only)
		</p>
		</div>
			<!-- Adding the logout button -->
			<form action="#" th:action="@{/logout}" method="POST">
				<button type="submit" class="btn btn-secondary">Logout</button>
			</form>
		
</body>
</html>